html,body{margin:0;padding:0;background:#2D2D2D;color:#D3D0C8}
#NavBar{position:fixed;bottom:0;width:100%;height:60px; line-height:60px;text-align:center;background:rgb(27, 115, 104);filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;}
.method{color:#66CCCC}
.url{color:#F99157}
.http{color:#CC8881}

.log-item{list-style:none;margin:0;padding:0}
.log-item li.log-item{color:#D3D0C8;font-size:12px; line-height:25px;border:1px solid #ccc;padding:4px 20px;border-bottom:0}
.log-item li.log-item:hover{background:rgb(60, 76, 74)}
.log-item li.log-split{line-height:50px;}

.btn-ctrl{margin:0 20px;width:60px;height:40px;}
.btn-stop{color:red}
.btn-start{color:green}